<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cadastro Cliente</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Cadastro de Cliente</h1>
        
        <form th:action="@{gravar}" method="POST" th:object="${cliente}">
            <p>Nome: <input type="text" th:field="${cliente.nome}"></p>
            <p>CPF: <input type="text" th:field="${cliente.cpf}"></p>
            <p>Telefone: <input type="text" th:field="${cliente.telefone}"></p>
            <p><input type="submit" value="Cadastrar"></p>
            
        </form>
        
        <a th:href="@{/inicio}">Retornar</a>
    </body>
</html>
