<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Sistema NicoLanches</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Sistema de NicoLanches</h1>
        
        <nav>
            <a th:href="@{/inicio}">Início</a>
            <a th:href="@{/CadastroCliente}">Cadastro</a>
            <a th:href="@{/listagem}">Listagem Clientes</a>
            <a th:href="@{/RegistroPedido}">Pedido</a>
            <a th:href="@{/listagemPedido}">Listagem Pedidos</a>
        </nav>
    </body>
</html>
