<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cadastro Cliente</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                </head>
                <body>
                    <h1>Registro de Pedido</h1>

                    <form th:action="@{/gravarPedido}" method="POST" th:object="${pedido}">
                        <p>Nome: <input type="text" th:field="${pedido.nome}" required></p>
                        <p>Valor: <input type="number" step="0.01" th:field="${pedido.valor}" required></p>
                        <p><input type="submit" value="Registrar"></p>
                    </form>

                    <a th:href="@{/inicio}">Retornar</a>
                </body>
                </html>